# Linear Regression

In [2]:
# import os
# # explor the current working directory
# print(os.getcwd())
# # Change the current directory to specified location.
# os.chdir("E:\\Data Science" )
# os.getcwd()
# %pwd

In [3]:
import pandas as pd 
import numpy as np

In [4]:
# Reading the Data set
train_file=r'loan_data_train.csv'
test_file=r'loan_data_test.csv'
ld_train=pd.read_csv(train_file)
ld_test=pd.read_csv(test_file)

In [5]:
# First 5 Records
ld_test.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years

In [6]:
ld_train.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [7]:
# lets combine the data for data prep

ld_test['Interest.Rate']=np.nan   #  Adding Taget Variable in Test Data for Data Preparation
ld_train['data']='train'  # Adding Marking column in Data set , so that once we finished the marking we can diffeentiate 
                         # between Test and Train data
ld_test['data']='test'
ld_test=ld_test[ld_train.columns] ## To make the column ordering same
ld_all=pd.concat([ld_train,ld_test],axis=0) # Row by Row Concat

In [8]:
# Let 
ld_all.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year,train
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years,train
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years,train

In [8]:
ld_all.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
dtype: object

In [9]:
# ID,Amount.Funded.By.Investors : drop 
# Interest Rate , Debt to income ratio : remove % and then to numeric
# Amount.Requested , 'Open.CREDIT.Lines','Revolving.CREDIT.Balance': convert it to numeric 
# FICO.Range : replace it by a numeric column which is average of the range
# Employment Length : convert to number
# Loan Lenth, Loan Purpose , State , Home ownership: dummies for categories with good occurence rate

In [10]:
# ID,Amount.Funded.By.Investors : drop 
ld_all.drop(['ID','Amount.Funded.By.Investors'],axis=1,inplace=True)

In [11]:
# Interest Rate , Debt to income ratio : remove % and then to numeric

# Notice that to apply string function on pandas data frame columns you need to str attribute
for col in ['Interest.Rate','Debt.To.Income.Ratio']:
    ld_all[col]=ld_all[col].str.replace("%","")

In [12]:
# Amount.Requested ,Interest Rate , Debt to income ratio, 'Open.CREDIT.Lines','Revolving.CREDIT.Balance': convert it to numeric
for col in ['Amount.Requested', 'Interest.Rate','Debt.To.Income.Ratio',
            'Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    ld_all[col]=pd.to_numeric(ld_all[col],errors='coerce')

In [13]:
print(type(ld_all['FICO.Range'].str.split("-",expand=True).astype(float)))
print("-----------")
print(ld_all['FICO.Range'].str.split("-",expand=True).astype(float).columns)
print("-----------")
print(ld_all['FICO.Range'].str.split("-",expand=True).astype(float).index)
print("-----------")
print(ld_all['FICO.Range'].str.split("-",expand=True).astype(float).shape) 
ld_all['FICO.Range'].str.split("-",expand=True).astype(float).index

<class 'pandas.core.frame.DataFrame'>
-----------
RangeIndex(start=0, stop=2, step=1)
-----------
Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            290, 291, 292, 293, 294, 295, 296, 297, 298, 299],
           dtype='int64', length=2500)
-----------
(2500, 2)

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            290, 291, 292, 293, 294, 295, 296, 297, 298, 299],
           dtype='int64', length=2500)

In [14]:
# FICO.Range : replace it by a numeric column which is average of the range

k=ld_all['FICO.Range'].str.split("-",expand=True).astype(float)

ld_all['fico']=0.5*(k[0]+k[1])

del ld_all['FICO.Range']

In [15]:
ld_all.columns

Index(['Amount.Requested', 'Interest.Rate', 'Loan.Length', 'Loan.Purpose',
       'Debt.To.Income.Ratio', 'State', 'Home.Ownership', 'Monthly.Income',
       'Open.CREDIT.Lines', 'Revolving.CREDIT.Balance',
       'Inquiries.in.the.Last.6.Months', 'Employment.Length', 'data', 'fico'],
      dtype='object')

In [16]:
# print(ld_all.shape)
# # Gives all category counts ,  equivalent to R Table function
# print(ld_all['Employment.Length'].value_counts.sum())
ld_all['Employment.Length'].value_counts(dropna=True).sum()
# #ld_all['Employment.Length'])

2422

In [17]:
type(np.nan)

float

In [18]:
# type(ld_all['Employment.Length']) #.str)

In [19]:
# Employment Length : convert to number
# Noice that to apply string function on pandas data frame columns you need to str attributet
ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('years',"")

ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('year',"")

ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[:2]=="10",10,ld_all['Employment.Length'])

ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[0]=="<",0,ld_all['Employment.Length'])

ld_all['Employment.Length']=pd.to_numeric(ld_all['Employment.Length'],errors='coerce')

In [20]:
# type(ld_all.select_dtypes(['object']))  ## subsetting the column on the basis of its type
cat_cols=ld_all.select_dtypes(['object']).columns

In [21]:
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership', 'data'], dtype='object')

In [22]:
print(cat_cols[-1])
cat_cols=cat_cols[:-1]

data

In [23]:
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

In [24]:
print(ld_all['Loan.Length'].value_counts(dropna=False).sum())
print(ld_all['Loan.Length'].value_counts(dropna=True).sum())
type(ld_all['Loan.Length'].value_counts())

2500
2499

pandas.core.series.Series

In [25]:
yyy=ld_all['Loan.Length']


freqs=yyy.value_counts()
print(freqs)
print(type(freqs))
freqs>20
print(freqs.index[freqs>20])
k1=freqs.index[freqs>20][:-1]
k1

36 months    1950
60 months     548
.               1
Name: Loan.Length, dtype: int64
<class 'pandas.core.series.Series'>
Index(['36 months', '60 months'], dtype='object')

Index(['36 months'], dtype='object')

In [26]:
# User defined function for creating dummies
# Loan Lenth, Loan Purpose , State , Home ownership: dummies for categories with good occurence rate
# you can use following method if you want to ignore categories with too low frequencies ,
#in next section for logistic regression we will be using  pandas' get dummies function. 
# you can work with either of these . 
#ignoring categories with low frequencies however will result in fewer columns without 
# affecting model performance too much .

for col in cat_cols:
    freqs=ld_all[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        ld_all[name]=(ld_all[col]==cat).astype(int)
    del ld_all[col]
    print(col)

Loan.Length
Loan.Purpose
State
Home.Ownership

In [27]:
ld_all.dtypes

Amount.Requested                   float64
Interest.Rate                      float64
Debt.To.Income.Ratio               float64
Monthly.Income                     float64
Open.CREDIT.Lines                  float64
Revolving.CREDIT.Balance           float64
Inquiries.in.the.Last.6.Months     float64
Employment.Length                  float64
data                                object
fico                               float64
Loan.Length_36 months                int32
Loan.Purpose_debt_consolidation      int32
Loan.Purpose_credit_card             int32
Loan.Purpose_other                   int32
Loan.Purpose_home_improvement        int32
Loan.Purpose_major_purchase          int32
Loan.Purpose_small_business          int32
Loan.Purpose_car                     int32
Loan.Purpose_wedding                 int32
Loan.Purpose_medical                 int32
Loan.Purpose_moving                  int32
State_CA                             int32
State_NY                             int32
State_TX                             int32
State_FL                             int32
State_IL                             int32
State_GA                             int32
State_PA                             int32
State_NJ                             int32
State_VA                             int32
State_MA                             int32
State_OH                             int32
State_MD                             int32
State_NC                             int32
State_CO                             int32
State_WA                             int32
State_CT                             int32
State_AZ                             int32
State_MI                             int32
State_AL                             int32
State_MN                             int32
State_MO                             int32
State_NV                             int32
State_OR                             int32
State_SC                             int32
State_WI                             int32
State_KY                             int32
State_LA                             int32
State_OK                             int32
Home.Ownership_MORTGAGE              int32
Home.Ownership_RENT                  int32
dtype: object

In [28]:
ld_all.isnull().sum()

Amount.Requested                     5
Interest.Rate                      300
Debt.To.Income.Ratio                 1
Monthly.Income                       3
Open.CREDIT.Lines                    9
Revolving.CREDIT.Balance             5
Inquiries.in.the.Last.6.Months       3
Employment.Length                   80
data                                 0
fico                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_OK                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [29]:
# Null Value Imputation
for col in ld_all.columns:
    if (col not in ['Interest.Rate','data'])& (ld_all[col].isnull().sum()>0):
        ld_all.loc[ld_all[col].isnull(),col]=ld_all.loc[ld_all['data']=='train',col].mean()

In [30]:
ld_all.isnull().sum()

Amount.Requested                     0
Interest.Rate                      300
Debt.To.Income.Ratio                 0
Monthly.Income                       0
Open.CREDIT.Lines                    0
Revolving.CREDIT.Balance             0
Inquiries.in.the.Last.6.Months       0
Employment.Length                    0
data                                 0
fico                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_OK                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [31]:
# Separate the Train and Test Data
ld_train=ld_all[ld_all['data']=='train']
del ld_train['data']
ld_test=ld_all[ld_all['data']=='test']
ld_test.drop(['Interest.Rate','data'],axis=1,inplace=True)

C:\Users\skyas\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [32]:
del ld_all

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
# len(train_test_split(ld_train,test_size=0.2,random_state=2)) ## .8 in train1 & .2 in train2
ld_train1,ld_train2=train_test_split(ld_train,test_size=0.2,random_state=2) ## .8 in train1 & .2 in train2

In [35]:
# print(ld_train1.shape)
# print(ld_train2.shape)
# print(ld_train.shape)
x_train1=ld_train1.drop('Interest.Rate',axis=1)
y_train1=ld_train1['Interest.Rate']

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
lm=LinearRegression()

In [38]:
lm.fit(x_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
lm.intercept_

76.01913622059156

In [40]:
lm.coef_

array([ 1.56144310e-04, -3.84424077e-03, -2.64064861e-05, -4.02279980e-02,
       -4.04316567e-06,  3.36761303e-01,  3.47338830e-02, -8.66930419e-02,
       -3.14255474e+00, -4.71359752e-01, -6.12342913e-01,  4.46260981e-01,
       -3.69982978e-01, -9.74511984e-02,  6.25154214e-02,  1.87489143e-02,
       -7.83052054e-01, -4.22145895e-01,  1.27688882e+00, -2.91208169e-01,
       -2.07841814e-01,  3.84109173e-01,  4.84790447e-03, -7.28594651e-01,
       -1.09494969e-01, -6.34463768e-01, -5.04485974e-01, -2.70412445e-01,
        1.05102172e-02, -4.42840210e-01, -9.85943511e-02, -3.80422487e-01,
       -1.37431618e-01, -3.26283641e-01,  3.65437211e-01,  1.83113340e-01,
       -2.39362240e-01, -4.03094750e-01, -1.58637025e-01, -5.14232195e-01,
       -2.05177279e-01,  3.90277138e-02, -5.83361736e-02, -2.45120642e-01,
        1.87054205e-01, -1.30098405e-01, -4.19212563e-01, -4.91681022e-01,
       -2.32175185e-01])

In [41]:
print(type(x_train1.columns))
print()
type(lm.coef_)

<class 'pandas.core.indexes.base.Index'>

numpy.ndarray

In [42]:
print(x_train1.columns.shape)
print()
lm.coef_.shape

(49,)

(49,)

In [43]:
list(zip(x_train1.columns,lm.coef_))

[('Amount.Requested', 0.00015614431012143834),
 ('Debt.To.Income.Ratio', -0.0038442407741178164),
 ('Monthly.Income', -2.640648611023581e-05),
 ('Open.CREDIT.Lines', -0.04022799798362768),
 ('Revolving.CREDIT.Balance', -4.043165672484861e-06),
 ('Inquiries.in.the.Last.6.Months', 0.336761302956462),
 ('Employment.Length', 0.034733883022122214),
 ('fico', -0.08669304194244787),
 ('Loan.Length_36 months', -3.142554743125377),
 ('Loan.Purpose_debt_consolidation', -0.4713597523618269),
 ('Loan.Purpose_credit_card', -0.6123429134596095),
 ('Loan.Purpose_other', 0.4462609811879844),
 ('Loan.Purpose_home_improvement', -0.3699829780973721),
 ('Loan.Purpose_major_purchase', -0.09745119837235866),
 ('Loan.Purpose_small_business', 0.06251542143811656),
 ('Loan.Purpose_car', 0.01874891431690409),
 ('Loan.Purpose_wedding', -0.7830520540035677),
 ('Loan.Purpose_medical', -0.422145894692867),
 ('Loan.Purpose_moving', 1.27688882221352),
 ('State_CA', -0.29120816865192056),
 ('State_NY', -0.20784181354585982),
 ('State_TX', 0.3841091731465295),
 ('State_FL', 0.004847904465573587),
 ('State_IL', -0.728594651236628),
 ('State_GA', -0.109494968776252),
 ('State_PA', -0.6344637679429566),
 ('State_NJ', -0.5044859736086528),
 ('State_VA', -0.2704124450086856),
 ('State_MA', 0.010510217191507576),
 ('State_OH', -0.4428402101320399),
 ('State_MD', -0.0985943511484861),
 ('State_NC', -0.38042248719139077),
 ('State_CO', -0.13743161843768914),
 ('State_WA', -0.32628364072969296),
 ('State_CT', 0.36543721069965435),
 ('State_AZ', 0.18311333972876945),
 ('State_MI', -0.2393622396211728),
 ('State_AL', -0.40309475046961774),
 ('State_MN', -0.1586370247732582),
 ('State_MO', -0.5142321949582122),
 ('State_NV', -0.2051772790117719),
 ('State_OR', 0.03902771379342575),
 ('State_SC', -0.058336173623126125),
 ('State_WI', -0.24512064234535919),
 ('State_KY', 0.18705420527433594),
 ('State_LA', -0.13009840467168662),
 ('State_OK', -0.4192125633226813),
 ('Home.Ownership_MORTGAGE', -0.49168102215384746),
 ('Home.Ownership_RENT', -0.23217518504343043)]

In [44]:
x_train2=ld_train2.drop('Interest.Rate',axis=1)

In [45]:
predicted_ir=lm.predict(x_train2)

In [46]:
from sklearn.metrics import mean_absolute_error
# from sklearn.metrics import mean_squared_error

In [47]:
mean_absolute_error(ld_train2['Interest.Rate'],predicted_ir)
# mean_squared_error(ld_train2['Interest.Rate'],predicted_ir)
# np.sqrt(mean_squared_error(ld_train2['Interest.Rate'],predicted_ir))

1.6292292194608184

We know the tentative performance now, lets build the model on entire training to make prediction on test/production

In [48]:
x_train=ld_train.drop('Interest.Rate',axis=1)
y_train=ld_train['Interest.Rate']

In [49]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [94]:
test_pred=lm.predict(ld_test)

In [96]:
###mean_absolute_error(ld_train2['Interest.Rate'],predicted_ir)

We can write these to a csv file for submission like this :

In [97]:
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

# Ridge  Regression

In [53]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

In [54]:
lambdas=np.linspace(1,100,100)

In [55]:
params={'alpha':lambdas}

In [56]:
model=Ridge(fit_intercept=True)

In [57]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [58]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,...
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100.])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [59]:
grid_search.best_estimator_

Ridge(alpha=33.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [60]:
pd.DataFrame(grid_search.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.005385,0.003944,0.001097,0.000537,1,{'alpha': 1.0},-1.722539,-1.765470,-1.773301,-1.642572,-1.450328,-1.640046,-1.426031,-1.575540,-1.528393,-1.662221,-1.618644,0.116032,82
1,0.001700,0.001546,0.002062,0.004548,2,{'alpha': 2.0},-1.723349,-1.762548,-1.771327,-1.641886,-1.449444,-1.639019,-1.425280,-1.573624,-1.528086,-1.661940,-1.617650,0.115780,78
2,0.003123,0.006246,0.001562,0.004686,3,{'alpha': 3.0},-1.724135,-1.759859,-1.769558,-1.641375,-1.448488,-1.638096,-1.424603,-1.572095,-1.527694,-1.661696,-1.616760,0.115586,73
3,0.004687,0.007160,0.001101,0.003303,4,{'alpha': 4.0},-1.724875,-1.757604,-1.768005,-1.641231,-1.447489,-1.637244,-1.424122,-1.570824,-1.527236,-1.661495,-1.616012,0.115456,69
4,0.004686,0.007159,0.000000,0.000000,5,{'alpha': 5.0},-1.725559,-1.755621,-1.766622,-1.641144,-1.446477,-1.636445,-1.423771,-1.569738,-1.526747,-1.661435,-1.615356,0.115365,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.005589,0.001425,0.001591,0.000487,96,{'alpha': 96.0},-1.779823,-1.718428,-1.778441,-1.646426,-1.429882,-1.616529,-1.433460,-1.577886,-1.532539,-1.711135,-1.622455,0.122334,96
96,0.005486,0.001561,0.001695,0.001003,97,{'alpha': 97.0},-1.780384,-1.718477,-1.778769,-1.646638,-1.430038,-1.616627,-1.433782,-1.578249,-1.532824,-1.711732,-1.622752,0.122390,97
97,0.005287,0.000897,0.001296,0.000638,98,{'alpha': 98.0},-1.780941,-1.718527,-1.779096,-1.646849,-1.430193,-1.616724,-1.434101,-1.578611,-1.533109,-1.712326,-1.623048,0.122447,98
98,0.004583,0.001347,0.001497,0.000673,99,{'alpha': 99.0},-1.781495,-1.718583,-1.779421,-1.647058,-1.430347,-1.616821,-1.434419,-1.578971,-1.533392,-1.712917,-1.623342,0.122503,99
99,0.005687,0.001185,0.002193,0.001162,100,{'alpha': 100.0},-1.782045,-1.718681,-1.779743,-1.647267,-1.430501,-1.616918,-1.434736,-1.579328,-1.533673,-1.713506,-1.623640,0.122563,100

 if you want you can now fit a ridge regression model with obtained value of alpha , although there is no need, grid search automatically fits the best estimator on the entire data, you can directly use this to make predictions on test_data. But if you want to look at coefficients , its much more convenient to fit the model with direct function

Using the report function given below you can see the cv performance of top few models as well, that will the tentative performance

In [61]:
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.5f} (std: {1:.5f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [62]:
report(grid_search.cv_results_,5)

Model with rank: 1
Mean validation score: -1.61024 (std: 0.11713)
Parameters: {'alpha': 33.0}

Model with rank: 2
Mean validation score: -1.61024 (std: 0.11720)
Parameters: {'alpha': 34.0}

Model with rank: 3
Mean validation score: -1.61025 (std: 0.11706)
Parameters: {'alpha': 32.0}

Model with rank: 4
Mean validation score: -1.61026 (std: 0.11727)
Parameters: {'alpha': 35.0}

Model with rank: 5
Mean validation score: -1.61026 (std: 0.11700)
Parameters: {'alpha': 31.0}

In [63]:
# Grid Search , Internally fit the function for best parameter as well so no need to run the fit 
# exclusively for best parameter
# However , if you want to the coefficient of each predictors then you have to run this 
# fit once again
test_pred=grid_search.predict(ld_test)

In [64]:
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

## For looking at coefficients

Optional step, only required when we are interested to know about the values off different coefficients.

In [65]:
# Collecting the Best Parameter
ridge_model=grid_search.best_estimator_

In [66]:
ridge_model.fit(x_train,y_train)

Ridge(alpha=33.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [67]:
print(type(x_train.columns))
print()
type(ridge_model.coef_)

<class 'pandas.core.indexes.base.Index'>

numpy.ndarray

In [68]:
print(x_train.columns.shape)
print()
ridge_model.coef_.shape

(49,)

(49,)

In [69]:
list(zip(x_train.columns,ridge_model.coef_))

[('Amount.Requested', 0.00016694728491458577),
 ('Debt.To.Income.Ratio', -0.0012318165592272478),
 ('Monthly.Income', -2.958745941066146e-05),
 ('Open.CREDIT.Lines', -0.036844456548317195),
 ('Revolving.CREDIT.Balance', -3.0298763520014846e-06),
 ('Inquiries.in.the.Last.6.Months', 0.34256440527076776),
 ('Employment.Length', 0.019386236424857747),
 ('fico', -0.0866470894033935),
 ('Loan.Length_36 months', -2.8391539157194514),
 ('Loan.Purpose_debt_consolidation', -0.372244295803813),
 ('Loan.Purpose_credit_card', -0.4669643121927732),
 ('Loan.Purpose_other', 0.3782673033850654),
 ('Loan.Purpose_home_improvement', -0.23409022842016117),
 ('Loan.Purpose_major_purchase', -0.013616976256590078),
 ('Loan.Purpose_small_business', 0.08759197675127413),
 ('Loan.Purpose_car', -0.03257553103243947),
 ('Loan.Purpose_wedding', -0.33475995188670893),
 ('Loan.Purpose_medical', -0.09809622633427424),
 ('Loan.Purpose_moving', 0.46418890336399526),
 ('State_CA', -0.09953195660418801),
 ('State_NY', -0.050105862583651045),
 ('State_TX', 0.4246877237607738),
 ('State_FL', 0.019156225627726613),
 ('State_IL', -0.35516156308015434),
 ('State_GA', -0.08937978986862528),
 ('State_PA', -0.28844882853987863),
 ('State_NJ', -0.2158260035578724),
 ('State_VA', -0.006820534118668541),
 ('State_MA', -0.021151484211527224),
 ('State_OH', -0.13837526923960905),
 ('State_MD', 0.007404318875840023),
 ('State_NC', -0.2505529902504349),
 ('State_CO', 0.08955252000003078),
 ('State_WA', -0.09326080152255666),
 ('State_CT', 0.24870110050440355),
 ('State_AZ', 0.27536257452536594),
 ('State_MI', -0.007178475477558128),
 ('State_AL', 0.009932143762134115),
 ('State_MN', -0.04704177945530443),
 ('State_MO', -0.12622562059305975),
 ('State_NV', -0.01649166255728227),
 ('State_OR', 0.04297913277607559),
 ('State_SC', 0.006100117938453769),
 ('State_WI', 0.06329473893294679),
 ('State_KY', 0.06769778677841318),
 ('State_LA', 0.10832206261195111),
 ('State_OK', -0.09254255640581535),
 ('Home.Ownership_MORTGAGE', -0.30514634168462407),
 ('Home.Ownership_RENT', -0.09822137961739798)]

## Lasso Regression

In [70]:
lambdas=np.linspace(1,10,100)
model=Lasso(fit_intercept=True)
params={'alpha':lambdas}

In [71]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [72]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([ 1.        ,  1.09090909,  1.18181818,  1.27272727,  1.36363636,
        1.45454545,  1.5454...
        7.81818182,  7.90909091,  8.        ,  8.09090909,  8.18181818,
        8.27272727,  8.36363636,  8.45454545,  8.54545455,  8.63636364,
        8.72727273,  8.81818182,  8.90909091,  9.        ,  9.09090909,
        9.18181818,  9.27272727,  9.36363636,  9.45454545,  9.54545455,
        9.63636364,  9.72727273,  9.81818182,  9.90909091, 10.        ])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [73]:
grid_search.best_estimator_

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

you can see that, the best value of alpha comes at the edge of the range that we tried , we should expand the trial range on that side and run this again

In [74]:
lambdas=np.linspace(.001,2,100)
params={'alpha':lambdas}

In [75]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([1.00000000e-03, 2.11919192e-02, 4.13838384e-02, 6.15757576e-02,
       8.17...
       1.61635354e+00, 1.63654545e+00, 1.65673737e+00, 1.67692929e+00,
       1.69712121e+00, 1.71731313e+00, 1.73750505e+00, 1.75769697e+00,
       1.77788889e+00, 1.79808081e+00, 1.81827273e+00, 1.83846465e+00,
       1.85865657e+00, 1.87884848e+00, 1.89904040e+00, 1.91923232e+00,
       1.93942424e+00, 1.95961616e+00, 1.97980808e+00, 2.00000000e+00])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [76]:
grid_search.best_estimator_

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [77]:
report(grid_search.cv_results_,5)

Model with rank: 1
Mean validation score: -1.60332 (std: 0.12018)
Parameters: {'alpha': 0.021191919191919192}

Model with rank: 2
Mean validation score: -1.61248 (std: 0.12605)
Parameters: {'alpha': 0.041383838383838384}

Model with rank: 3
Mean validation score: -1.61519 (std: 0.11569)
Parameters: {'alpha': 0.001}

Model with rank: 4
Mean validation score: -1.61932 (std: 0.12695)
Parameters: {'alpha': 0.061575757575757575}

Model with rank: 5
Mean validation score: -1.62397 (std: 0.12787)
Parameters: {'alpha': 0.08176767676767677}

In [78]:
test_pred=grid_search.predict(ld_test)

In [79]:
lasso_model=grid_search.best_estimator_

In [80]:
lasso_model.fit(x_train,y_train)

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [81]:
## test_pred-lasso_model.predict(ld_test)

In [82]:
list(zip(x_train.columns,lasso_model.coef_))

[('Amount.Requested', 0.00016025576388069374),
 ('Debt.To.Income.Ratio', -0.0009940455335086431),
 ('Monthly.Income', -2.7161150694601474e-05),
 ('Open.CREDIT.Lines', -0.03776066942268258),
 ('Revolving.CREDIT.Balance', -3.2291582902347866e-06),
 ('Inquiries.in.the.Last.6.Months', 0.32734647665538585),
 ('Employment.Length', 0.011883001638602755),
 ('fico', -0.08647817945138424),
 ('Loan.Length_36 months', -3.0098932744846625),
 ('Loan.Purpose_debt_consolidation', -0.1780182230425123),
 ('Loan.Purpose_credit_card', -0.22053269213383622),
 ('Loan.Purpose_other', 0.3196217853383159),
 ('Loan.Purpose_home_improvement', -0.0),
 ('Loan.Purpose_major_purchase', 0.0),
 ('Loan.Purpose_small_business', 0.0),
 ('Loan.Purpose_car', 0.0),
 ('Loan.Purpose_wedding', -0.0),
 ('Loan.Purpose_medical', -0.0),
 ('Loan.Purpose_moving', 0.0),
 ('State_CA', -0.0),
 ('State_NY', 0.0),
 ('State_TX', 0.2592516325019152),
 ('State_FL', 0.0),
 ('State_IL', -0.0),
 ('State_GA', -0.0),
 ('State_PA', -0.0),
 ('State_NJ', -0.0),
 ('State_VA', 0.0),
 ('State_MA', 0.0),
 ('State_OH', -0.0),
 ('State_MD', 0.0),
 ('State_NC', -0.0),
 ('State_CO', 0.0),
 ('State_WA', -0.0),
 ('State_CT', 0.0),
 ('State_AZ', 0.0),
 ('State_MI', 0.0),
 ('State_AL', 0.0),
 ('State_MN', -0.0),
 ('State_MO', -0.0),
 ('State_NV', 0.0),
 ('State_OR', 0.0),
 ('State_SC', 0.0),
 ('State_WI', 0.0),
 ('State_KY', 0.0),
 ('State_LA', 0.0),
 ('State_OK', -0.0),
 ('Home.Ownership_MORTGAGE', -0.15598777750113385),
 ('Home.Ownership_RENT', 0.0)]

# Logistic Regression

In [83]:
import numpy as np
import pandas as pd

In [84]:
train_file=r'rg_train.csv'
test_file=r'rg_test.csv'
bd_train=pd.read_csv(train_file)

bd_test=pd.read_csv(test_file)


bd_test['Revenue.Grid']=np.nan
bd_train['data']='train'
bd_test['data']='test'
bd_test=bd_test[bd_train.columns]
bd_all=pd.concat([bd_train,bd_test],axis=0)

FileNotFoundError: [Errno 2] File b'rg_train.csv' does not exist: b'rg_train.csv'

In [ ]:
bd_all.head()

In [ ]:
bd_all['Revenue.Grid'].value_counts()

In [ ]:
list(zip(bd_all.columns,bd_all.dtypes,bd_all.nunique()))

In [ ]:
# REF_NO,post_code , post_area  : drop 
# children : Zero : 0 , 4+ : 4 and then convert to numeric
# age_band : dummies 
# status , occupation , occupation_partner , home_status,family_income : dummies
# self_employed, ` : dummies
# TVArea , Region , gender : dummies
# Revenue Grid : 1,2 : 1,0

In [ ]:
# REF_NO,post_code , post_area  : drop
bd_all.drop(['REF_NO','post_code','post_area'],axis=1,inplace=True)

In [ ]:
# children : Zero : 0 , 4+ : 4 and then convert to numeric
bd_all['children']=np.where(bd_all['children']=='Zero',0,bd_all['children'])
bd_all['children']=np.where(bd_all['children'][:1]=='4',4,bd_all['children'])
bd_all['children']=pd.to_numeric(bd_all['children'],errors='coerce')

In [ ]:
# Output variable classes 0 and 1
bd_all['Revenue.Grid']=(bd_all['Revenue.Grid']==1).astype(int)

In [ ]:
# Selecting the columns based upon its type
cat_vars=bd_all.select_dtypes(['object']).columns

cat_vars

In [ ]:
# Creating a dummy variables
for col in cat_vars[:-1]:
    dummy=pd.get_dummies(bd_all[col],drop_first=True,prefix=col)
    bd_all=pd.concat([bd_all,dummy],axis=1)
    del bd_all[col]
    print(col)
del dummy

In [ ]:
bd_all.shape

In [ ]:
bd_all.isnull().sum()

In [ ]:
# immputing with mean value

bd_all.loc[bd_all['children'].isnull(),'children']=bd_all.loc[bd_all['data']=='train','children'].mean()

In [ ]:
# Finally Train and Test Data is ready
bd_train=bd_all[bd_all['data']=='train']
del bd_train['data']
bd_test=bd_all[bd_all['data']=='test']
bd_test.drop(['Revenue.Grid','data'],axis=1,inplace=True)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import GridSearchCV

In [ ]:
params={'class_weight':['balanced',None],
        'penalty':['l1','l2'],
        'C':np.linspace(0.01,1000,10)}

In [ ]:
model=LogisticRegression(fit_intercept=True)

In [ ]:
grid_search=GridSearchCV(model,param_grid=params,cv=5,scoring="roc_auc")

In [ ]:
x_train=bd_train.drop('Revenue.Grid',axis=1)
y_train=bd_train['Revenue.Grid']

In [ ]:
grid_search.fit(x_train,y_train)

In [ ]:
grid_search.best_estimator_

In [ ]:
logr=grid_search.best_estimator_

In [ ]:
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [ ]:
report(grid_search.cv_results_,5)
### grid_search.predict_proba(x_train)-logr.predict_proba(x_train)

In [ ]:
logr.fit(x_train,y_train)

In [ ]:
cutoffs=np.linspace(0.01,0.99,99)

cutoffs

In [ ]:
print(logr.predict_proba(x_train)) # Probability of both Classes , for each observations
logr.classes_

In [ ]:
# logr.predict_proba(x_train)[:,1]
train_score=logr.predict_proba(x_train)[:,1]

real=y_train

In [ ]:
train_score>0.2

In [ ]:
KS_all=[]

for cutoff in cutoffs:
    
    predicted=(train_score>cutoff).astype(int)

    TP=((predicted==1) & (real==1)).sum()
    TN=((predicted==0) & (real==0)).sum()
    FP=((predicted==1) & (real==0)).sum()
    FN=((predicted==0) & (real==1)).sum()
    
    P=TP+FN
    N=TN+FP
      
    KS=(TP/P)-(FP/N)
    
    
    KS_all.append(KS)

# try out what cutoffs you get when you use F_beta scores with different values of betas [0.5 , 5]
# beta < 1 : you will get cutoff , which is high ( favours precision)
# beta > 1 : you will get cutoff , which is low (favours precision )

In [ ]:
# print(cutoffs[KS_all==max(KS_all)].shape)
# type(cutoffs[KS_all==max(KS_all)][0])
mycutoff=cutoffs[KS_all==max(KS_all)][0]
mycutoff

In [ ]:
logr.intercept_

In [ ]:
logr.coef_[0]

In [ ]:
x_train.columns.shape

In [ ]:
list(zip(x_train.columns,logr.coef_[0]))

if you simply had to submit probability scores , you could do this

In [ ]:
test_score=logr.predict_proba(bd_test)[:,1]
pd.DataFrame(test_score).to_csv("mysubmission.csv",index=False)

In [ ]:
test_score

if you had to submit hardclasses , you can apply the cutoff obtained above and then submit

In [ ]:
test_classes=(test_score>mycutoff).astype(int)

In [ ]:
pd.DataFrame(test_classes).to_csv("mysubmission.csv",index=False)

In [ ]:
# # ROC AUC Curve
# import scikitplot as skplt
# import matplotlib.pyplot as plt

# y_true = # ground truth labels
# y_probas = # predicted probabilities generated by sklearn classifier
# skplt.metrics.plot_roc_curve(y_true, y_probas)
# plt.show()


# ## # score model performance on the test data
# roc_auc_score(y_test,logr.predict(x_test))